html-preprocessor/04-jekyll/_includes/sidebar.html

  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" 
       style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
       id="closeNav" >Close &times;</button>
    {% for page in site.data.pages %}
      <a class="w3-bar-item w3-button"
         href="{{ page.link }}">{{ page.long }}</a>
    {% endfor %}
  </div>

html-preprocessor/03-express/pug/views/partials/sidebar.pug
#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left(style='display:none')
  button#closeNav.w3-bar-item.w3-button.w3-large 
    | Close &times;
  each page in pages
    a.w3-bar-item.w3-button(href=page.link)
      | #{page.long}
