html-basic/05-rollup/05-pug-failed/src/pug/alert.pug
doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title Example Template
    link(href='../css/style.css', rel='stylesheet', type='text/css')
    script(src='../js/script.js')
    script(src='../js/live.js')

  body
    .container
      h2 Relationship Alerts
      p To close the alerts, click on the X in the upper right corner:

      div.panel.red.display-container#red-danger
        span.dismissable.button.large.display-topright &times;
        p
          strong Danger!
          | : Red light indicates door a secured.

      div.panel.yellow.display-container#yellow-warning
        span.dismissable.button.large.display-topright &times;
        p
          strong Warning!
          | : Yellow light indicates that something could go wrong.

      div.panel.green.display-container#green-success
        span.dismissable.button.large.display-topright &times;
        p
          strong Success!
          | : Green light indicates on schedule, on budget, all good.

      div.panel.blue.display-container#blue-info
        span.dismissable.button.large.display-topright &times;
        p
          strong Info!
          | : Blue light indicates that you are in electronics mode.

html-basic/06-parcel/02-bundle/src/html/alert.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example Bundle</title>
    <script src="../assets.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Relationship Alerts</h2>
      <p>To close the alerts, click on the X in the upper right corner:</p>
      <div class="panel red display-container" id="red-danger"><span class="dismissable button large display-topright">&times;</span>
        <p><strong>Danger!</strong>: Red light indicates door a secured.</p>
      </div>
      <div class="panel yellow display-container" id="yellow-warning"><span class="dismissable button large display-topright">&times;</span>
        <p><strong>Warning!</strong>: Yellow light indicates that something could go wrong.</p>
      </div>
      <div class="panel green display-container" id="green-success"><span class="dismissable button large display-topright">&times;</span>
        <p><strong>Success!</strong>: Green light indicates on schedule, on budget, all good.</p>
      </div>
      <div class="panel blue display-container" id="blue-info"><span class="dismissable button large display-topright">&times;</span>
        <p><strong>Info!</strong>: Blue light indicates that you are in electronics mode.</p>
      </div>
    </div>
  </body>
</html>
